.pio/
.pio_src/
src/
.vscode/
m5_script/credentials.h

m5_script/m5_petit_puchiko/credentials.h

m5_script/m5_petit_puchiru/credentials.h

m5_script/m5_petit_puchiteya/credentials.h

m5_script/m5_rover/credentials.h
